**Question:-Write python codes to demonstrate the use of following concepts.**

---

**1. Data Types**



*   **String**

In [ ]:
#creating string
string1 = 'My self chille Shruti'
print(string1)

#accessing string
str = 'i am from latur'
print('string = ', str)

#operation on string
str2 = 'Hello'
str3 ='World!'
print('str1 + str2 = ', str2 + str3)

My self chille Shruti
string =  i am from latur
str1 + str2 =  HelloWorld!



*   **List**

In [ ]:
#empty list
list1=[]

#creating list
my_list = ['abc', 22, 'o', 3.5, 'e']

print("List=", my_list)

print("First item=",my_list[0]) 
print("Third item=",my_list[2]) 

#deleting ites in list

del my_list[2]

print("After deleting=",my_list)

List= ['abc', 22, 'o', 3.5, 'e']
First item= abc
Third item= o
After deleting= ['abc', 22, 3.5, 'e']



*  **Tuples**

In [ ]:
#empty tuple
tuple1=()

#creating tuple with different datatypes
tuple1=("hello",22,'r',304)
print("tuple= ",tuple1)

print("First item=",tuple1[2])

#deleting item in tuple
del (tuple1)

tuple=  ('hello', 22, 'r', 304)
First item= r



*   **Sets**

In [ ]:
#empty set
set()
print("Empty set=",set())
#set with mixed datatypes
set1={1.2,444,'e',"hello"}
print("set=",set1)

#add value in set
set1.add("shruti")
print("After adding value=",set1)

#clear set
set1.clear()
print("After deleting set=",set1)

Empty set= set()
set= {1.2, 'hello', 444, 'e'}
After adding value= {1.2, 'hello', 'shruti', 'e', 444}
After deleting set= set()



*   **Dictionary**

In [ ]:
#empty dictionary
dict1={}

#dict with mixted keys
my_dict={'name':'shruti','surname':'chille',1:[1,2,3],2.2:2}
print("Dictionary= ",my_dict)

#accessing element
print("Name=",my_dict['name'])

Dictionary=  {'name': 'shruti', 'surname': 'chille', 1: [1, 2, 3], 2.2: 2}
Name= shruti



*   **Arrays**

In [ ]:
#creating array
languages=["c","c++","java","python"]
print(languages)

#adding value in array
languages.append("php")
print("After adding=",languages)

#length of array
a=len(languages)
print("length =",a)

['c', 'c++', 'java', 'python']
After adding= ['c', 'c++', 'java', 'python', 'php']
length = 5

**2. Variables**

---



*   **Variables, expression conditions and function**

In [ ]:
#variables 
a="hello"
b=3
print("a= ",a, "b= ",b)



#expression conditions
num=int(input("enter number : "))

if num%2==0:
  print(f"{num} is even number")
else:
     print(f"{num} is odd number")


#function
def my_function(fname, lname):
  print("Name of student :",fname + " " + lname)
  print()


my_function("Shruti", "Chille")

a=  hello b=  3
enter number : 6
6 is even number
Name of student : Shruti Chille



*   **Maximum possible values of an integer in python**

In [ ]:
import sys
print("Maximum size of an integer: ",sys.maxsize)

Maximum size of an integer:  9223372036854775807

 
*  **Global and local variables in python**

In [ ]:
#Global variables
x="computer science engineering"

def my_field():
  print("My course name is " + x)

my_field()

#local variables
def myfunc():
  a = "Awesome"
  print("Python is " + a)

myfunc()

My course name is computer science engineering
Python is Awesome




*   **Packing and unpacking arguments in python**

In [ ]:
#packing arguments
def fun2(*args):
    print(args[0])
      
    
    
fun2('Python', 'programming', 'preparation')

#unpacking arguments
set1=(1,'shruti')
def func(roll_no,name):
  print(f"Roll no= {roll_no}",f"Name= {name}")

func(*set1)

Python
Roll no= 1 Name= shruti





*   **Type Conversion in python**

In [ ]:
#implict type conversion
x=10
print("x is of type:",type(x))

y=10.3
print("y is of type:",type(y))

#Explicit Type Conversion

s = "10010"
 
# printing string converting to int
c = int(s,2)
print ("After converting to integer  : ", end="")
print (c)
 
# printing string converting to float
e = float(s)
print ("After converting to float : ", end="")
print (e)

x is of type: <class 'int'>
y is of type: <class 'float'>
After converting to integer  : 18
After converting to float : 10010.0



*   **Byte objects vs string in python**

In [ ]:
#  String encoding

# initialising a String
a = 'Hello'

# initialising a byte object
c = b'Hello'

# using ASCII mapping
d = a.encode('ASCII')

# checking if a is converted to bytes or not
if (d==c):
	print ("Encoding successful")
else : print ("Encoding Unsuccessful")

Encoding successful



*   **Print single and multiple variables.**

In [ ]:
#print single value
print("Sinle values are :")
print(1)
print("hello")

#print multiple value
print("Multiple values are :")
print(12,23,29.3)
print("hi","shruti","cse")

Sinle values are :
1
hello
Multiple values are :
12 23 29.3
hi shruti cse



*   **Swap variables.**

In [ ]:
a=10;
b=20;

print("Before swapping ",end="")
print("a=",a, "b=",b)
a,b=b,a
print("after swapping","a=",a,"b=",b)

Before swapping a= 10 b= 20
after swapping a= 20 b= 10



*   **Private variables**

In [ ]:
class myClass:
   __privateVar = 27;
   def __privMeth(self):
      print("I'm inside class myClass")
   def hello(self):
      print("Private Variable value: ",myClass.__privateVar)
foo = myClass()
foo.hello()
foo.__privateMeth()

Private Variable value:  27

AttributeError: ignored



*   **__name__ (A Special variable) in Python**

In [ ]:
print(type(__name__))
print (__name__)

<class 'str'>
__main__